@import url(/style/header.css);
@import url(/style/footer.css);
@import url(/style/container.css);

:root {
    --salvia: #76ABAE;
    --verde: #31363F;
    --amarelo: #222831;
    --areia: #EEEEEE;
}

body {
    box-sizing: border-box;
    background-color: var(--areia);
    padding: 0px;
    margin: 0px;
    color: var(--verde);
    font-size: 15px;
    font-weight: bold;
}

strong {
    font-size: 25px;
    font-weight: 900;
}


