@import url(/style/header.css);
@import url(/style/footer.css);
@import url(/style/container.css);
@import url(/style/sabermais.css);
@import url(/style/main.css);
@import url(/style/form.css);
@import url(/style/control.css);
@import url(/style/artigos.css);

:root {
    --azul: #76ABAE;
    --cinza: #31363F;
    --preto: #222831;
    --branco: #EEEEEE;
}

body {
    box-sizing: border-box;
    background-color: var(--branco);
    color: var(--cinza);
    font-size: 14px;
}

.margin {
    margin-bottom: 25em;
}

.margin__imagem {
    margin: 1em;
}
