@import url(/style/header.css);
@import url(/style/footer.css);
@import url(/style/container.css);
@import url(/style/sabermais.css);
@import url(/style/main.css);
@import url(/style/form.css);
@import url(/style/control.css);
@import url(/style/artigos.css);
@import url(/style/banner.css);
@import url(/style/topicos.css);
@import url(/style/contato.css);
@import url(/style/carrossel.css);
@import url(/style/podcast.css);

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #000000;
    --azul-degrade: linear-gradient(97.54deg, #00c3ff 35.49%, #8fd2ff 165.37%);
    --fonte-principal: "Poppins";
    --azul: #0091ff;
    --fonte-sencundaria: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.margin {
    margin-bottom: 25em;
}

.margin-top {
    margin-top: 100em;
}

.margin__imagem {
    margin: 1em;
}

@media screen and (min-width:820px){
    .margin{
     margin-bottom: 40em;
    }
}