@import url(/style/header.css);
@import url(/style/footer.css);
@import url(/style/container.css);

:root {
    --salvia: #D9EDBF;
    --verde: #5AA469;
    --amarelo: #FCDC2A;
    --areia: #F7F6BB;
}

body {
    box-sizing: border-box;
    background-color: var(--areia);
    padding: 0px;
    margin: 0px;
    color: var(--verde);
    font-size: 15px;
    font-weight: bold;
}

strong {
    font-size: 25px;
    font-weight: 900;
}


