
.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal__titulo {
    margin: 50px 0px 50px 0px;
}

.principal__subtitulo {
    margin: 50px 0px 50px 0px;
}

.principal__container {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--salvia);
    border-radius: 20px;
    text-align: center;
    margin: 0 20%;
    padding: 2%;
}

.principal__container-video {
    box-shadow: 6px 6px 7px 2px var(--amarelo);
    border-radius: 20px;
    text-align: center;
    margin: 0 20%;
    
}

.principal__lista {
    padding: 2% 20%;
}

.principal__item {
    text-align: left;
    list-style-type: none;
    padding: 2% 2%;
    background-color: var(--salvia);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 2%;
    width: 30%;
}

.principal__item-link {
    color: var(--verde);
    text-decoration: none;
}

.principal__item-link::before {
    content: " - ";
}

.principal__link {

    color: rgb(10, 95, 10);
    text-transform: uppercase;
}

.principal__secundaria {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--salvia);
    border-radius: 20px;
    text-align: center;
    margin: 0 20%;
    padding: 2%;
    text-align: center;
    margin: 5%;
}

.secundaria__lista {
    list-style-type: none;
    text-align: left;
    margin: 5%;
}
