.container__video {
    width: 20em;
    height: 10em;
    box-shadow: 0px 4px 4px 0px var(--preto);
    border-radius: 10px;
}

.container {
    text-align: center;
    box-shadow: 0px 4px 4px 0px var(--preto);
    padding: 5%;
    border-radius: 10px;
}

.container__texto{
    padding: 5%;
}

.container__texto-paragrafo {
    font-weight: bold;
}

#btnLeiaMais {
  text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    color: var(--preto);
    font-size: 90%;
}

.container__margin {
    margin-top: 5em;
    margin-bottom: 15em;
}

.container__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    list-style-type: none;
}

@media screen and (min-width:820px) {
    .container__video {
        width: 30em;
        height: 20em;
    }
}
