.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal__titulo {
    margin: 50px 0px 50px 0px;
}

.principal__subtitulo {
    margin: 50px 0px 50px 0px;
}

.principal__container {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--salvia);
    border-radius: 20px;
    text-align: center;
    margin: 0 20%;
    padding: 2%;
}

.principal__container-video {
    box-shadow: 6px 6px 7px 2px var(--amarelo);
    border-radius: 20px;
    text-align: center;
    margin: 0 20%;

}

.principal__lista {
    padding: 2% 20%;
}

.principal__item {
    text-align: left;
    list-style-type: none;
    padding: 2% 2%;
    background-color: var(--salvia);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 2%;
    width: 30%;
}

.principal__item-link {
    color: var(--verde);
    text-decoration: none;
}

.principal__item-link::before {
    content: " - ";
}

.principal__link {

    color: rgb(10, 95, 10);
    text-transform: uppercase;
}

.principal__secundaria {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--salvia);
    border-radius: 20px;
    text-align: center;
    margin: 5% 20%;
    padding: 2%;
    text-align: center;
}

.secundaria__lista {
    list-style-type: none;
    text-align: left;
    margin: 5%;
}


.placeholder,
.placeholder__2,
.placeholder__3,
.placeholder__4 {
    padding: 0.5em;
    border: 1px solid var(--verde);
    border-radius: 10px;
    color: var(--amarelo);
    width: 50%;
}

.placeholder::placeholder {
    background: url("/img/email.png") 0.5em no-repeat;
    background-size: contain;
    padding-left: 2em;
}

.placeholder__2::placeholder {
    background: url("/img/telefone.png") 0.5em no-repeat;
    background-size: contain;
    padding-left: 2em;
}

.placeholder__3::placeholder {
    background: url("/img/pessoa.png") 0.5em no-repeat;
    background-size: contain;
    padding-left: 2em;
}

.placeholder__button {
    background-color: var(--amarelo);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 0.5em 2em;
    width: 50%;
    color: var(--areia);
    text-transform: uppercase;
    font-weight: bolder
}

.placeholder__button:hover {
    background-color: aliceblue;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1em 0em;
}

.principal__terciaria {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--salvia);
    border-radius: 20px;
    text-align: center;
    margin: 5% 20%;
    padding: 2%;
    text-align: left;
}
.principal__terciaria-alinhar{
    margin-top: 3em;
    text-align: center;
}
.principal__quartiaria {
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--salvia);
    border-radius: 20px;
    text-align: center;
    margin: 15% 5% 15% 40%;
    padding: 2%;
    gap: 2em;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}