.container__video {
    margin: 1em;
    width: 100%;
    box-shadow: 0px 4px 4px 0px var(--preto);
    border-radius: 10px;
}

.centralizar {
    text-align: center;
    width: auto;
}
#btnLeiaMais {
    cursor: pointer;
}

.container__texto{
    padding: 5%;
}

.container__texto-paragrafo {
    font-weight: bold;
}

#btnLeiaMais {
  text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    color: var(--preto);
    font-size: 90%;
}

.container__margin {
    margin-top: 5em;
    margin-bottom: 15em;
}

.container__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    list-style-type: none;
}
