.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: var(--preto);
    color: var(--azul);
    text-transform: uppercase;
}

@media screen and (min-width: 820px) {
    .rodape {
        padding: 2%;
        margin-top: 20em;
    }
 }

@media screen and (min-width: 1366px) {
    .rodape {
        padding: 2%;
        margin-top: 50em;
    }
 }
