.cabecalho {
    display: flex;
    align-items: center;
    gap: 35%;
    background-color: var(--amarelo);
    padding: 20px;
}

.navegador {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navegador__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--amarelo);
    background-color: var(--areia);
    padding: 9px;
    border-radius: 10px;
}

.navegador__link:hover {
    background-color: aliceblue;
}
