.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    background-color: var(--preto);
    z-index: 1;
}

.navegador {
    display: flex;
    padding-right: 40%;
    gap: 10%;
}

.navegador__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.6em;
    color: var(--cinza);
    background-color: var(--branco);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 5%;
    text-align: center;
}

.navegador__link:hover {
    background-color: aliceblue;
}

.cabecalho__imagem {
    width: 5em;
    margin-right: 2em;

}

@media screen and (min-width:820px) {
    .navegador__link {
        font-size: 1em;
    }
    .cabecalho__imagem {
        width: 8em;
    
    }
}

@media screen and (min-width: 1366px) {
    .navegador__link {
        font-size: 1em;
    }
    .cabecalho__imagem {
        width: 15%;
    }
}